.container{
    float: left;
}
.right{
    width: 25%;
    background-image: url("images/Run.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.left{
    width: 25%;
    background-image: url("images/Dunk.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.middle{
    width: 50%;
   
   
}



.buttonDesign{
    background-color: wheat;
   
}

